@charset "utf-8";

// Import frameworks & theme styles
@import
  "normalize",
  "settings",
  "sassline-base",
  "syntax",
  "flex",
  "theme"
;

// Background colours
$backgroundColour: #f8f8f0;
$codeBackgroundColour: #f0f0ec;
$featureBackgroundColour: #f9fafa !default;
$accentColour: #050085 !default;

// Text colours
$headingColour: #242e2b !default;
$bodyColour: #384743 !default;
$linkColour: #05bfff;
$hoverColour: #ff8000;
$focusColour: #fa407a;
$captionColour: #a8adac !default;
$white: #ffffff !default;
