---
# Only the main Sass file needs front matter (the dashes are enough)
---

$primary-color: #5fa4ff;



body {
    background-image: url("/assets/images/bg.png");
    background-attachment: fixed;
}

.rounded-corners {
    border-radius: 5px
}

.two-thirds {
    width: 66%
}

.width-quarter {
    width: 25%
}

.download-svg {
    filter: invert(100%) brightness(118%) contrast(119%);
    width: 24px;
    height: 24px;
    position: relative;
    left: 0;
}


.download-btn {
    width: 100%;
}

/* contrast syntax highlighting (base16) */
$base00: #080808;
$base01: #242422;
$base02: #484844;
$base03: #6c6c66;
$base04: #58b6b1;
$base05: #b5b3aa;
$base06: #d9d7cc;
$base07: #fdfbee;
$base08: #ff6c60;
$base09: #e9c062;
$base0a: #ffffb6;
$base0b: #a8ff60;
$base0c: #c6c5fe;
$base0d: #96cbfe;
$base0e: #ff73fd;
$base0f: #b18a3d;


@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials